.col-sm-3{
    background-color: #2e75b5;
    color: #ffffff;
}
.jumbotron{
    margin-bottom: 0;
    background-color: #757170;
    padding: .25rem;
}
.bg-light{
    background-color: #2e75b5;
}
.bknd_image{
    background-image: url(".assets/background_portfolio.JPG");
    background-size: cover;
}
.navbar-expand-lg .navbar-collapse{
    background-color: #2e75b5;
}
.navbar{
    background-color: #2e75b5;
}
.nav-item nav-link{
    color: #ffffff;
}
a{
    color: #ffffff;
}

#spanmenu{
    color: #ffffff;
}
body{
    background-color: #203864;
}
.navbar-toggler .line{
    color:#ffffff;
}
.display-4{
    color:#bfbfbf;
}
.smalljumbo{
    color:#bfbfbf;
}
.selfie{
    max-width: 15%;
    height: auto;
    margin: 3%;
}
.text-center{
    color: #ffffff;
    font-family:"palatino","bookman";
    size: 16pt;
    padding-left:10%;
    padding-right:10%;
}
.aboutme{
    padding-left:10%;
    padding-right:10%;
}

.mapthumb{
    max-width: 95%;
    vertical-align: middle;
    height: auto;
}
.portfolio{
    padding-top:3%;
}
.col-sm-4{
    vertical-align:middle;
    text-align:center;
    color: #ffffff;
    font-family:"palatino","bookman";
}
.mapview{
    margin-left:1%;
    margin-right:1%;
}
.mapfull{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;    
}
.contact{
    color: #ffffff;
    font-family:"palatino","bookman";
}
.wordcloud{
    max-width: 35%;
    height: auto;
    margin: 3%;
    padding-bottom:2%;
}
.resumelist{
    color: #ffffff;
    font-family:"palatino","bookman";
    list-style-position:outside;
    margin-left:5%;
    margin-right:5%;
    line-height:200%;
}
.resumeheader{
    color: #ffffff;
    font-family:"palatino","bookman";
    font-weight: bold;
}
.resumeh5{
    color: #c2c2c2;
    font-family:"palatino","bookman";
    font-style: italic;
    font-weight: bold;
    line-height:200%;
}
.school{
    list-style-type: none;
    list-style-position:outside;
}